{% extends "base.html"%}

{% block body%}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Fun Family</h1>
      <h2 class="masthead-subheading mb-0">Ultimate Family Management Platform</h2>
      <a href="#landing-circles" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section id="landing-circles">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="static/img/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">For the foodie families...</h2>
          <p>Difficult to remember the grocery wishes of all the kids? Integrated grocery shopping and recipe collections that you can share in one click. Simply add your groceries to the grocery list and your whole family can keep track.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="static/img/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">For the busy families...</h2>
          <p>Hard to keep track of the hair appointments, parties, dinners, holidays and other fun family activities? All your family's events gathered in one calendar.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="static/img/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">For the fun families...</h2>
          <p>Missing a fun app to keep your family coordinated? A multitude of features ranging from saving important contacts to keeping track of chores. All of your family's needs sorted in one place!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}